.game-over-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h1 {
  font-size: 150px;
  margin-bottom: 20px;
  color:  #4CB748;
}

body {
  font-family: 'Bubblegum Sans';font-size: 22px;
}

.score-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #4CB748;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.score {
  font-size: 100px;
  color: white;
}

.circular-button {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #dc143c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.circular-button span {
  font-size: 40px;
  font-weight: bold;
  color: #F2F2F2;
  text-transform: uppercase;
}



.player-image {
  width: 250px;
  height: 250px;
  margin-top: 50px;
}

.comments {
  color: #4CB748;
  font-size: 50px;
}

