
.a {
    
   	animation: pulse 1s linear infinite;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 375px;
      height: auto;
}

body {
    font-family: 'Bubblegum Sans';font-size: 22px;
    background-color:#4CB748;
}

h1 {
    font-size: 150px;
    color: #F2F2F2;
}

p {
    font-size: 75px;
    color: #F2F2F2;
}

@-webkit-keyframes "pulse" {
0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
}
100% {
    -webkit-transform: scale(1);
   transform: scale(1);
}
}