.goal {
    border: 10px solid #4D68ED;
}

.center {
    position: relative;
    display: block;
    top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: auto
}

#container {
    width: 100px;
    height: 100px;
    position: relative;
}

.timer2 {
    color: red;
}

.level1 {
    color: black;
    left: 667px;
}

.level2 {
    color: blue;
    left: 645px;
}

.level3 {
    color: red;
    left: 670px;
}

#timer {
    display: inline-block;
    position: absolute;
    width: 150px;
    padding: 5px;
    top: 57px;
    left: 305px;
    text-align: center;
    font-size: 30px;
}

@font-face {
    font-family: "LevelDesign";
    src: local("LevelDesign"),
      url("SedgwickAveDisplay-Regular.ttf") format("truetype");
}


#level {
    display: inline-block;
    position: absolute;
    width: 100px;
    padding: 5px;
    top: 44px;
    text-align: center;
    font-family: "LevelDesign", monospace;
    font-size: 60px;
}


#score {
    display: inline-block;
    position: absolute;
    width: 100px;
    padding: 5px;
    top: 57px;
    right: 325px;
    text-align: center;
    font-size: 30px;
}


  