body {
  text-align: center;
}

.football {
   position: absolute;
   visibility: hidden;
   transition: 0.7s linear;
 }
 

.score-board{
  margin-left: 35%;
  margin-bottom: 20px;
  background-color: palegreen;
  width: 30%;
}

.goalkeeperBody {
  position: absolute;
  width: 15%;
}

.goalkeeperHead {
  position: absolute;
  width: 4.5%;
}

.goalkeeperLeftHand {
  position: absolute;
  width: 5%;
  transition: transform 0.1s;
  transform-origin: center center;
}

.goalkeeperRightHand {
  position: absolute;
  width: 5%;
  transition: transform 0.1s; /* tuning parameter: rate of data collection */
  transform-origin: center center;
}

.interactive-range-boundingbox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  /* Set percentage-based width and height for flexibility */
  width: 90%;
  height: 90%;
  z-index: -1;
}

text {
  font-size: 20px;
}

.levelup-reminder, .timeup-reminder {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.levelup-content, .timeup-content{
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.levelup-instruction, .timeup-instruction{
  margin-bottom: 20px;
}

.levelup-timer, .timeup-timer {
  font-size: 17px;
  font-weight: bold;
}