.a {
  animation: pulse 1s linear infinite;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

body {
  font-family: 'Bubblegum Sans';
  font-size: 22px;
  background-color:#4CB748;
  text-align: center;
}

h1 {
  font-size: 100px;
  color: #F2F2F2;
}

p {
  font-size: 75px;
  color: #F2F2F2;
}

@-webkit-keyframes pulse {
  0% {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  }
  50% {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  }
  100% {
  -webkit-transform: scale(1);
  transform: scale(1);
  }
}

/* body {
   text-align: center;
 } */
 
.football {
    position: absolute;
    visibility: hidden;
    transition: 2.0s;
    z-index: 11;
  }

.gamepage-container{
   display: none;
   width: auto;
   height: 47.5vw;  /* TODO: Tune on tuesday */
   overflow: hidden;
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: auto;
}
  
 .score-board{
   /* margin-right: 35%;
   margin-bottom: 20px;
   width: 100%; */
   top: 2.5%;
   margin-left: 12%;
   width: 100%;
 }

 .interactive-range-boundingbox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* Set percentage-based width and height for flexibility */
  width: 90%;
  height: 90%;
  z-index: -1;
}


 .goalkeeperBody {
  position: absolute;
  width: 15%;
  z-index: 60;
}

.goalkeeperHead {
  position: absolute;
  width: 4.5%;
  z-index: 60;
}

.goalkeeperLeftHand {
  position: absolute;
  width: 5%;
  transition: transform 0.1s;
  transform-origin: center center;
  z-index: 60;
}

.goalkeeperRightHand {
  position: absolute;
  width: 5%;
  transition: transform 0.1s; /* tuning parameter: rate of data collection */
  transform-origin: center center;
  z-index: 60;
}

.goalkeeper {
  position: absolute;
  width: 20%;
  z-index: 60;
}
 
 text {
   font-size: 20px;
 }
 
 .tutorial-reminder, .levelup-reminder, .timeup-reminder, .pause-reminder {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 9999;
 }
 
 .tutorial-content, .levelup-content, .timeup-content, .pause-content{
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #fff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   text-align: center;
 }

 /* .tutorial-content, .levelup-content{
  background-color: lemonchiffon;
 } */
 .tutorial-header{
  font-weight: bold;
 }

 .tutorial-instruction, .levelup-instruction, .timeup-instruction, .pause-instruction{
   margin-bottom: 20px;
 }

 
 .tutorial-timer, .levelup-timer, .timeup-timer, .pause-timer {
   font-size: 17px;
   font-weight: bold;
 }


 /* h1, div {
   text-align: center;
} */

/* p{
   margin: 100px;
   font-size: 20px;
   font-style: italic;
} */

#mockdata {
   height: 80px;
   width: 30%;
   font-size: 14pt;
   z-index: -10;
   border-radius: 20px;
   font-family: 'Bubblegum Sans'; font-size: 22px;
   color: #4CB748;
}

.popup {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 9999;
}

.popup-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #fff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   text-align: center;
}

.timer {
   font-size: 2rem;
   font-weight: bold;
}

.background-image {
  /* Set the container's position property to "relative" */
  position: relative;
}

.background-image::before {
  content: "";

  /* Set the background image */
  background-image: url('main_screen.png');
  
  /* Set the position and size properties */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  /* Set the z-index to ensure the image is below the container's content */
  z-index: -1;
  
  /* Optional: Adjust the background image properties as needed */
  background-repeat: no-repeat;
  /*background-position: center;*/
  background-size: 100% 100%;
  z-index: -1;
}