<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/game.css">
</head>

<body>

  <h1>Game Page</h1>
  <div class="game">
    <ul class="score-board score-board-during">
      <li class="team-home">SAVED</li>
      <li class="score"></li>
      <li class="team-visitor"><img>
      <li class="away-home">CONCEDED</li>
    </ul>
    <img class="football" src="static/soccer-ball.jpg"/>
    <img class="goalkeeper" src="static/color-goalkeeper.png"/>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src="/static/game.js"></script>
</body>
</html>