<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/game.css">
</head>

<body>

  <h1>Game Page</h1>
  
  <div class="score-board">
    <text>
      SAVED &emsp;<text class="score"></text>&emsp; CONCEDED
    </text>
  </div>

  <div class="game-timer">
    <text>
      Timer <text class="curtime"></text>
    </text>
  </div>

  <div class="game">
    <img class="goalkeeper" src="static/color-goalkeeper.png"/>
    <img class="football" src="static/soccer-ball.jpg"/>
  </div>

  <div class="levelup-reminder">
		<div class="levelup-content">
      <div class="levelup-instruction"></div>
			<div class="levelup-timer"></div>
		</div>
	</div>


  <div class="timeup-reminder">
		<div class="timeup-content">
      <div class="timeup-instruction"></div>
			<div class="timeup-timer"></div>
		</div>
	</div>
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/static/game.js"></script>
</body>
</html>