<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="static/introAndGame.css">
   <link href='https://fonts.googleapis.com/css?family=Bubblegum Sans' rel='stylesheet'>
   <link rel="stylesheet" href="static/styles.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
   <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="/static/game.js"></script>
</head>

<body>

   <div class="interactive-range-boundingbox" id="interactiveRangeBoundingbox"></div>

   <div class="intropage-container">
      <h1 style="text-align: center;">Soccer Goalie Simulator</h1>
      <img class="goalkeeperLeftHand" src="static/left-hand.png"/>
      <div>
         <input id="mockdata" type="submit" name="mock_jump_button" value="Hover hand here for 3 seconds to begin!"/>
         <!-- <p> Attractive Visuals</p> -->
         <img class="a" src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Soccer_ball.svg">
         <!-- <p> Instructions to start the game</p> -->
      </div>
      <div class="popup">
         <div class="popup-content">
         <div class="timer-instruction"></div>
            <div class="timer"></div>
         </div>
      </div>
   </div>

   <div class="gamepage-container background-image">
      <!-- <img src="static/main_screen.png" alt="Goal" class="goal center" width= "100%" height="auto"> -->
      <img class="goalkeeperBody" src="static/soccer-shirt.png"/>
      <img class="goalkeeperHead" src="static/soccer-head.png"/>
      <img class="goalkeeperLeftHand" src="static/left-hand.png"/>
      <img class="goalkeeperRightHand" src="static/right-hand.png"/>
      <!-- <img class="goalkeeper" src="static/color-goalkeeper.png"/> -->
      <img class="football" src="static/soccer-ball.jpg"/>
      
        <!-- Display the countdown timer in an element -->
      <div id="timer"></div>
        <!-- Display the current diffiulty in an element -->
      <div id="level">Easy</div>
      <!-- Display the current score in an element -->
      <div id="score">
         <div class="score-board">
            <text class="outsidescore">
               SAVED &emsp;<text class="score"></text>&emsp; CONCEDED
            </text>
         </div>
      </div>
      
      <div class="tutorial-reminder">
         <div class="tutorial-content">
         <div class="tutorial-header"></div>
         <div class="tutorial-instruction"></div>
            <div class="tutorial-timer"></div>
         </div>
      </div>

      <div class="levelup-reminder">
            <div class="levelup-content">
            <div class="levelup-instruction"></div>
               <div class="levelup-timer"></div>
            </div>
      </div>

      <div class="pause-reminder">
            <div class="pause-content">
            <div class="pause-instruction"></div>
               <div class="pause-timer"></div>
            </div>
      </div>

      <div class="timeup-reminder">
            <div class="timeup-content">
            <div class="timeup-instruction"></div>
               <div class="timeup-timer"></div>
            </div>
	   </div>
   </div>


</body>
</html>