<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="static/introAndGame.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
   <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src="/static/game.js"></script>
</head>

<body>

   <div class="interactive-range-boundingbox" id="interactiveRangeBoundingbox"></div>

   <div class="intropage-container">
      <!-- <img class="goalkeeperLeftHand" src="static/soccer-lefthand.png"/> -->
      <h1>Intro Page</h1>
      <img class="goalkeeperLeftHand" src="static/soccer-lefthand.png"/>
      <div>
         <input id="mockdata" type="submit" name="mock_jump_button" value="Clear here to mock user JUMP!"/>
         <p> Attractive Visuals</p>
         <p> Instructions to start the game</p>
      </div>

      <div class="popup">
         <div class="popup-content">
         <div class="timer-instruction"></div>
            <div class="timer"></div>
         </div>
      </div>
   </div>

   <div class="gamepage-container">
      <h1>Game Page</h1>
      
      <div class="score-board">
         <text>
            SAVED &emsp;<text class="score"></text>&emsp; CONCEDED
         </text>
      </div>

      <div class="game-timer">
         <text>
            Timer <text class="curtime"></text>
         </text>
      </div>

      <div class="game">
         <!-- <img class="goalkeeper" src="static/color-goalkeeper.png"/> -->
         <img class="goalkeeperBody" src="static/soccer-shirt.png"/>
         <img class="goalkeeperHead" src="static/soccer-head.png"/>
         <img class="goalkeeperLeftHand" src="static/soccer-lefthand.png"/>
         <img class="goalkeeperRightHand" src="static/soccer-righthand.png"/>
         <img class="football" src="static/soccer-ball.jpg"/>
      </div>

      <div class="tutorial-reminder">
         <div class="tutorial-content">
         <div class="tutorial-header"></div>
         <div class="tutorial-instruction"></div>
            <div class="tutorial-timer"></div>
         </div>
      </div>

      <div class="levelup-reminder">
            <div class="levelup-content">
            <div class="levelup-instruction"></div>
               <div class="levelup-timer"></div>
            </div>
      </div>

      <div class="pause-reminder">
            <div class="pause-content">
            <div class="pause-instruction"></div>
               <div class="pause-timer"></div>
            </div>
      </div>

      <div class="timeup-reminder">
            <div class="timeup-content">
            <div class="timeup-instruction"></div>
               <div class="timeup-timer"></div>
            </div>
	   </div>
   </div>


</body>
</html>