<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="static/intro.css">
</head>

<body>

   <h1>Intro Page</h1>
   <div>
      <p> Attractive Visuals</p>
      <p> Instructions to start the game</p>
      <input id="mockdata" type="submit" name="mock_jump_button" value="Clear here to mock user JUMP!"/>
   </div>

   <button id="popup-btn">Open Popup</button>

	<div class="popup">
		<div class="popup-content">
      <div class="timer-instruction"></div>
			<div class="timer"></div>
		</div>
	</div>

   <script>
		let popup = document.querySelector('.popup');
      let popupBtn = document.getElementById("mockdata");

      popupBtn.onclick = function() {
         popup.style.display = "block";
      }

      const readytime = 4;
      let count = readytime;
      let curinterval = setInterval(function() {
         count--;
         document.querySelector('.timer-instruction').innerHTML = "Game starts in";
         document.querySelector('.timer').innerHTML = count + " s";
         if (count <= 0) {
            clearInterval(curinterval);
            popup.style.display = "none";
            window.location.replace("./game");
         }
      }, 1000);
	</script>
</body>
</html>