<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="static/leaderboard.css">
</head>

<body>
   <div>
      <text>
         Back to home page in <text class="curtime"></text> s
      </text>

      <div class="game-over-container">
         <h1>Game Over</h1>
             <div class="score-circle">
                 <p class="score">5</p>
             </div>
         <p class="comments"> Good job, you saved a lot! </p>
         <img class="player-image" src="static/Boy_Kicking_Ball2.png"/>
     </div>
   </div>

   
   <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
   <script>
      $(function(){
         let timer = 10;
         interval = setInterval(function(){
            $('.curtime').text(timer--);
            if (timer == 0){
               clearInterval(interval);
               window.location.replace("./");
            }
         }, 1000);
      });
      
	</script>
</body>
</html>